# **Python Intermediatary Course:**
[LINK1 - Full Course](https://www.youtube.com/watch?v=HGOBQPFzWKo)
(Good for undertanding various types of methods of each type)

[LINK2 - For Various operators](https://www.youtube.com/watch?v=v5MR5JnKcZI)

## Compilation Differences Between C++ and Python

### 1. **Compilation Process**
- **C++:**
  - Source code is compiled into **machine code** by a compiler (e.g., g++, clang).
  - The machine code is platform-specific and produces an executable binary.
- **Python:**
  - Source code is first **compiled into bytecode** (an intermediate representation).
  - The bytecode is then executed by the **Python interpreter**.

### 2. **Explicit vs Implicit Compilation**
- **C++:**
  - Compilation is **explicit**. The programmer runs a compiler manually to generate the executable.
- **Python:**
  - Compilation is **implicit** and happens behind the scenes when the program runs.

### 3. **Compilation Output**
- **C++:**
  - Produces a standalone, optimized binary executable.
- **Python:**
  - Produces bytecode files (e.g., `*.pyc`), which require a Python interpreter to execute.

### 4. **Platform Dependency**
- **C++:**
  - Compiled binaries are **platform-specific** (Windows, Linux, macOS, etc.).
- **Python:**
  - Bytecode is **platform-independent** and runs on any system with a compatible Python interpreter.

### 5. **Error Checking**
- **C++:**
  - Most errors (e.g., syntax or type errors) are caught during compilation.
- **Python:**
  - Errors are caught **at runtime**, as the code is interpreted line-by-line after compilation to bytecode.


### 6. **Optimization**
- **C++:**
  - Compilation includes heavy **optimization** for performance at the cost of longer compile times.
- **Python:**
  - Bytecode is optimized to some extent, but Python prioritizes readability and development speed over runtime performance.


### 7. **Performance**
- **C++:**
  - Direct execution of machine code makes it significantly **faster** than Python.
- **Python:**
  - Interpretation overhead makes it **slower** compared to C++.


### 8. **Toolchain Requirements**
- **C++:**
  - Requires a **compiler** for each platform (e.g., GCC, MSVC).
- **Python:**
  - Requires the **Python interpreter** to run the bytecode.

## **History**
Created by Guido Van Rossum in 1989.

# What is Python?
General purpose programming language that supports OOP approach as well as functional programming approach.

An Interpreted programming language is one that translates and executes instructions line by line, without the need to compile the code into machine language first.

Also high level programming language as it is easier for human to understand and abstract (not designed according to computer hardware)

Python enables programs to be written compactly and readably. Programs written in Python are typically much shorter than equivalent C, C++, or Java programs, for several reasons:

- the high-level data types allow you to express complex operations in a single statement;

- statement grouping is done by indentation instead of beginning and ending brackets;

- no variable or argument declarations are necessary.

In [ ]:
#python as calculator

2+2

10/23 # division always returns a floating-point number

17/3 #Output 5.666666666666667

# floor division discards the fractional part
17//3 #Output 5

# the % operator returns the remainder of the division
17 % 3 #Output 2

5 * 3 + 2  # floored quotient * divisor + remainder

17

## **Escape Sequence Characters**
An escape sequence is a sequence of characters that, when used inside a character or string, does not represent itself but is converted into another character or series of characters that may be difficult or impossible to express directly, like newline (\n), tab (\t)

## **Print function**
Syntax :
print(value(s), sep= ‘ ‘, end = ‘\n’, file=file, flush=flush)


Parameters:


- value(s): Any value, and as many as you like. Will be converted to a string before printed
- sep=’separator’ : (Optional) Specify how to separate the objects, if there is more than one.Default :’ ‘
- end=’end’: (Optional) Specify what to print at the end.Default : ‘\n’
- file : (Optional) An object with a write method. Default :sys.stdout
- flush : (Optional) A Boolean, specifying if the output is flushed (True) or buffered (False). Default: False


Return Type: It returns output to the screen.

In [ ]:
try:
  eval("print('doesn't')")
except SyntaxError:
  print("Single quote use inside single quote is confusing for python")

try:
  print('doesn\'t')
except SyntaxError:
  print("Single quote use inside single quote can be done using an escape '/' sequence")

print("doesn't") # The problem can b handled by using a double quote instead

# print("Hi!
# My name is Naman")
# not correct as will give syntax error and won't be compiled
print("Hi!\nMy name is Naman") # correct

#print("Hi!\nMy name is "Naman"") # not correct as it is a sytax error
print("Hi!\nMy name is \"Naman\"")

Single quote use inside single quote is confusing for python
doesn't
doesn't
Hi!
My name is Naman
Hi!
My name is "Naman"

In [ ]:
print("Hey", 6,7, sep="~",end="009\n")
print("Naman")

Name = 'Bond'
code = '007'

print(f'My name is {Name} and code is {code}')

Hey~6~7009
Naman
My name is Bond and code is 007

## **Variables and Data Types**


- Variables act as placeholders for data. They allow us to store and reuse values in our program.
- Unlike many other programming languages, Python variables do not require explicit declaration of type.
- The type of the variable is inferred based on the value assigned.

**Rules for Naming Variables**

To use variables effectively, we must follow Python’s naming rules:

- Variable names can only contain letters, digits and underscores (_).
- A variable name cannot start with a digit.
Variable names are case-sensitive (myVar and myvar are different).
- Avoid using Python keywords (e.g., if, else, for) as variable names.
---

- Python Data types are the classification or categorization of data items.
- It represents the kind of value that tells what operations can be performed on a particular data.
- Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes.

The following are the standard or built-in data types in Python:

1.   Numeric - int, float, complex
2.   Sequence Type - string, list, tuple
3.   Mapping Type - dict
4.   Boolean - bool
5.   Set Type - set, frozenset
6.   Binary Types - bytes, bytearray, memoryview

In [ ]:
_namw = 'aksnxon'
x = 5
y = 3.14
z = "Hi"
a = b = c = 100
print(a, b, c)
var = True
d = None
print(_namw + z)
print(f'Data Type of x is {type(x)}')
print(f'Data Type of y is {type(y)}')
print(f'Data Type of z is {type(z)}')
print(f'Data Type of var is {type(var)}')
print(f'Data Type of d is {type(d)}')

100 100 100
aksnxonHi
Data Type of x is <class 'int'>
Data Type of y is <class 'float'>
Data Type of z is <class 'str'>
Data Type of var is <class 'bool'>
Data Type of d is <class 'NoneType'>

### **Implicit Typecasting**

Typecasting done by python to prevent data loss

In [ ]:
a = 9.24
b = 4

print(a+b)
print(type(a+b))
# 4 is coverted to float type and then added to float object. Done by python only

13.24
<class 'float'>

### Explicit Typecasting

The conversion of one data type into another data type done via developer or programmer's intervention or manually as per requirement is known as Explicit Type Conversion.

int()

float()

hex()

oct()

str()

In [ ]:
# Casting variables
s = "10"  # Initially a string
n = int(s)  # Cast string to integer
cnt = 5
f = float(cnt)  # Cast integer to float
age = 25
s2 = str(age)  # Cast integer to string
t = 2.03
p = 24
hexa = hex(p)
octal = oct(p)
comp = complex(t)
# Display results
print(n, type(n))
print(f, type(f))
print(s2, type(s2))
print(comp, type(comp))
print(hexa, type(hexa))
print(octal, type(octal))

10 <class 'int'>
5.0 <class 'float'>
25 <class 'str'>
(2.03+0j) <class 'complex'>
0x18 <class 'str'>
0o30 <class 'str'>

In [ ]:
s = 'Welcome to the Geeks World'
print(s)

# check data type
print(type(s))

# access string with index
print(s[1])
print(s[2])
print(s[-1])

Welcome to the Geeks World
<class 'str'>
e
l
d

In [ ]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed int and string
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

print(type(b))

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]
<class 'list'>

In [ ]:
# initiate empty tuple
t1 = ()

t2 = ('Geeks', 'For')
print("\nTuple with the use of String: ", t2)
print(type(t1))

Tuple with the use of String:  ('Geeks', 'For')
<class 'tuple'>

### **Float Data Type**

- A `float` represents a floating-point number, i.e., a number that has a decimal point.
- Example: 3.14, -0.001, 2.0
- Used to store real numbers, including those with fractional components.

- Python uses double-precision (64-bit) floating-point format based on the IEEE 754 standard.
- Very large and very small numbers, e.g., 1.7e308 to 5e-324
- Like all Python primitive data types, float objects are immutable.

In [52]:
print(1.7e308)
print(5e-324)
# greater than 1.8 * 10^308
# will print 'inf'
print(1.82e308)
# less than 5 * 10^-324
# will print 0.0
print(5e-325)

# if value is between 2.5e-324 and 5e-324
# will print 5e-324
# but at 2.4e-324 will print 0.0
print(2.5e-324)
print(2.4e-324)

1.7e+308
5e-324
inf
0.0
5e-324
0.0

#### **Class Methods and Attributes**
Called as float.class_method

- `is_integer()`: Checks whether the float represents an integer value (e.g., 5.0 is an integer value).
Returns True if the float is equivalent to an integer, False otherwise.

In [44]:
print((5.0).is_integer())  # Output: True
print((5.2).is_integer())  # Output: False

False

- `as_integer_ratio()`: Returns the float as a fraction in the form of a tuple (numerator, denominator). Exact representation of the float as an integer ratio.

In [53]:
def frac(d):

    # Using as_integer_ratio
    b = d.as_integer_ratio()

    return b
# Driver code
if __name__=='__main__':
    b = frac(3.5)
    print(b[0], "/", b[1])

7 / 2

## **Arithematic Operators**

Python Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, and division.

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20240430181610/Operators-in-python.webp" alt="drawing" width="600"/>

![image.png]()

In [ ]:
print(5+6)
print(5-6)
print(5/6)
print(5*6)
print(15//6)
print(15%6)
print(5**6)

11
-1
0.8333333333333334
30
2
3
15625

### **Created Calculator**

Note: input() takes an input in terms of a string

In [ ]:
a = int(input('enter a number:'))
b = int(input('enter a number:'))

print("addition of ",a," and ",b," is: ", a+b)
print("subtraction of ",a," and ",b," is ", a-b)
print("Division of ",a," and ", b," is ", a/b)
print("multiplication of ",a," and ",b," is ", a*b)
print("floor division of ",a," and ",b," is ", a//b)
print("modulus of ",a," and ",b," is ", a%b)

enter a number:12
enter a number:56
addition of  12  and  56  is:  68
subtraction of  12  and  56  is  -44
Division of  12  and  56  is  0.21428571428571427
multiplication of  12  and  56  is  672
floor division of  12  and  56  is  0
modulus of  12  and  56  is  12

## **is vs ==**
In Python, is and == are both comparison operators that can be used to check if two values are equal. However, there are some important differences between the two that you should be aware of.

The is operator compares the identity of two objects, while the == operator compares the values of the objects. This means that is will only return True if the objects being compared are the exact same object in memory, while == will return True if the objects have the same value.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # True
print(a is b)  # False

True
False

One important thing to note is that, in Python, strings and integers are immutable, which means that once they are created, their value cannot be changed. This means that, for strings and integers, is and == will always return the same result

In [ ]:
a = "hello"
b = "hello"

print(a == b)  # True
print(a is b)  # True

a = 5
b = 5

print(a == b)  # True
print(a is b)  # True

True
True
True
True

## **Break and Continue**

**break**
- Purpose: Exits the nearest enclosing loop (for or while) immediately.
- Use Case: When you want to stop the loop prematurely based on a condition.

**continue**
- Purpose: Skips the rest of the code inside the loop for the current iteration and moves to the next iteration.
- Use Case: When you want to skip certain iterations based on a condition but continue looping.

## **Loops**
for(), while() and do-while()

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

- Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied.

- Do-while is a loop in which a set of instructions will execute at least once (irrespective of condition) and then the repetition of loop's body will depend on the condition passed at the end of the while loop. It is known as an exit-controlled loop.

In [ ]:
for i in range(1,101):
  if i  % 25 == 0:
    print(i, end = "\n")
    continue
  print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In loops having an else statement with it, the statement in the else block will be executed after all the iterations are completed. The program exits the loop only after the else block is executed.

In case the loop didn't complete its iterative operation the else block won't be executed

In [ ]:
i = 0
while i < 4:
    i += 1
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

i = 0
while i < 4:
    i += 1
    print(i)
    break
else:  # Not executed as there is a break
    print("No Break")

1
2
3
4
No Break

1

In [ ]:
# Using for with else
for i in range(1, 5):
    print(i)
    #break
else:  # Executed because no break in for
    print("No Break\n")

1

## **Functions**

A function is a block of code that performs a specific task whenever it is called.

![image](https://media.geeksforgeeks.org/wp-content/uploads/20220721172423/51.png)

In [ ]:
def fibo(n: int):
    """
    Calculate the nth Fibonacci number.

    Args:
        n (int): The index of the Fibonacci number to calculate.

    Returns:
        None
    """

    a = 0
    b = 1

    if n >= 0:
        print(0,end = " ")
    if n >= 1:
        print (1, end = " ")
    if n > 1:
      for i in range (2,n):
        c = a+b
        a = b
        b = c
        print(c,end = " ")



fibo(5)

0 1 1 2 3

We can provide arguments with key = value, this way the interpreter recognizes the arguments by the parameter name. Hence, the order in which the arguments are passes does not matter.

In [ ]:
def add(a = 9, b = 1)-> int: # default arguments
  return a+b

a1 = 10
b1 = 34
print(add(a1,b1))

print(add(a1))

print(add(b1))

#print(add(_,b)) Incorrect prints a different value.
print(add(b=b1)) #Sends the b1 variable value to b argument

print(add(b=b1,a=a1))

44
11
35
43
44

The special syntax *args in function definitions is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list.

In [ ]:
def average(*nums)->int: #*nums inputs argument as tuples
  print(type(nums))
  sum = 0
  for i in nums:
    # if i==1:
    #   print(type(i))
    sum += i
  avg = sum/len(nums)
  return avg

print(f'Average of Sums: {average(1,2,3,4,5,6,24,57,12,14,52)}')

<class 'tuple'>
Average of Sums: 16.363636363636363

In [ ]:
def fun(arg1, *argv):
    print("First argument :", arg1)
    for arg in argv:
        print("Argument *argv :", arg)


fun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Argument *argv : Welcome
Argument *argv : to
Argument *argv : GeeksforGeeks

The special syntax \*\*kwargs in function definitions is used to pass a variable length argument list. We use the name kwargs with the double star \*\*.

In [ ]:
def fun(**kwargs): # Basically shares unknown number of key-value pairs
    for k, val in kwargs.items():
        print("%s == %s" % (k, val))


# Driver code
fun(s1='Geeks', s2='for', s3='Geeks')

s1 == Geeks
s2 == for
s3 == Geeks

## **Lists**
- A list is a data structure that is ordered, mutable, and allows duplicate elements.
- Allows different data types in a single list

In [ ]:
# Creating and printing lists
myList = ["a", "b", "c"]
print(myList)

myList2 = [1, 2, 3, 4, 5, 6]
print(myList2)

myList3 = list()  # Empty list
print(myList3)

myList4 = [1, True, "tracking"]
print(myList4)

['a', 'b', 'c']
[1, 2, 3, 4, 5, 6]
[]
[1, True, 'tracking']

In [ ]:
# Accessing elements by index
item = myList2[2]  # Element at index 2
print(item)

item1 = myList2[-2]  # 2nd last element
print(item1)

3
5

In [ ]:
# Iterating through a list
for i in myList2:
    if i != myList2[-1]:
        print(i, end=" ")  # Print with a space instead of newline
    else:
        print(i)

1 2 3 4 5 6

In [ ]:
# Checking for elements in the list
myList5 = ["apple", "banana", "cherry", "date"]
if "banana" in myList5:
    print("yes")
else:
    print("no")

if "lemon" in myList5:
    print(True)
else:
    print(False)

yes
False

In [ ]:
# Checking for elements in the list
myList5 = ["apple", "banana", "cherry", "date"]
if "banana" in myList5:
    print("yes")
else:
    print("no")

if "lemon" in myList5:
    print(True)
else:
    print(False)

yes
False

In [ ]:
# Finding the length of a list
print(len(myList5))

4

In [ ]:
# Appending and inserting elements
myList5.append("lemon")
print(myList5)

myList5.insert(1, "kiwi")
print(myList5)

['apple', 'banana', 'cherry', 'date', 'lemon']
['apple', 'kiwi', 'banana', 'cherry', 'date', 'lemon']

In [ ]:
# Removing and popping elements
item = myList5.pop()  # Remove last element
print(item)
print(myList5)

item = myList5.pop(2)  # Remove element at index 2
print(item)
print(myList5)

myList5.remove("kiwi")  # Remove element by value
print(myList5)

lemon
['apple', 'kiwi', 'banana', 'cherry', 'date']
banana
['apple', 'kiwi', 'cherry', 'date']
['apple', 'cherry', 'date']

In [ ]:
# Clearing all elements from the list
myList5.clear()
print(myList5)

[]

In [ ]:
# Reversing a list
myList2.reverse()  # In-place reversal
print(myList2)

[6, 5, 4, 3, 2, 1]

In [ ]:
# Sorting a list
myList5 = [5, 2, 8, 1, 9, 10, -23, -5, 3.6, 320]
myList5.sort()  # In-place sorting
print(myList5)

[-23, -5, 1, 2, 3.6, 5, 8, 9, 10, 320]

In [ ]:
# Using sorted to create a new sorted list
myList5 = [5, 2, 8, 1, 9, 10, -23, -5, 3.6, 320]
New_sorted = sorted(myList5)
print(New_sorted)

[-23, -5, 1, 2, 3.6, 5, 8, 9, 10, 320]

In [ ]:
# Creating a list with default values
myList5 = [0] * 5
print(myList5)

[0, 0, 0, 0, 0]

In [ ]:
# Concatenating two lists
print(myList2 + myList4)

[6, 5, 4, 3, 2, 1, 1, True, 'tracking']

In [ ]:
# Slicing a list
myList = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(f'myList[2:5] = {myList[2:5]}')  # Basic slicing
print(f'myList[:4] = {myList[:4]}')   # Slicing from start
print(f'myList[3:] = {myList[3:]}')   # Slicing to end
print(f'myList[1:8:2] = {myList[1:8:2]}')  # Slicing with step
print(f'myList[::-1] = {myList[::-1]}', end = "\n\n")   # Reverse slicing

# Modifying a slice
myList[2:5] = [300, 400, 500]
print(myList, end = "\n\n")

# Accessing with negative indices
print(myList[-3], end = "\n\n")  # Single element
print(myList[-5:-2], end = "\n\n")  # Range

myList[2:5] = [30, 40, 50]
myList[:4] = [10, 20, 30, 40]
myList[3:] = [40, 50, 60, 70, 80, 90]
myList[1:8:2] = [20, 40, 60, 80]
myList[::-1] = [90, 80, 70, 60, 50, 40, 30, 20, 10]

[10, 20, 300, 400, 500, 60, 70, 80, 90]

70

[500, 60, 70]

In [ ]:
# Copying lists
myList = [10, 20, 30, 40, 50, 60, 70, 80, 90]
newList = myList  # Shares reference
print(newList)
print(myList)

newList += [100, 110]
print(newList)
print(myList)  # Both lists change

# Copying with .copy() or slicing
myList = [1, 2, 3, 4, 5]
newList = myList.copy()  # Independent copy
print(newList)

newList = myList[:]  # Another way to copy
newList.append(6)
print(newList)
print(myList)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
# Square each element in the list
squared_list = [x**2 for x in myList]
print(squared_list)

# Filter even numbers
even_numbers = [x for x in myList if x % 2 == 0]
print(even_numbers)

[1, 4, 9, 16, 25]
[2, 4]

### **List Comprehensions**

Offers a shorter syntax when you want to create a list based on the values of an existing list.

In [ ]:
Marks = {'naman': 24, 'alex' : 21, 'ritu' :  25, 'trent' : 19, 'haru': 18}

grade_a = [key for key,value in Marks.items() if value > 20 ]

print(grade_a)

['naman', 'alex', 'ritu']

## **Tuples**
A Tuple is an ordered, immutable, data structure in python that allows duplicate elements.

# Tuples vs Lists: Comparison

| Feature                  | Tuples                          | Lists                          |
|--------------------------|----------------------------------|--------------------------------|
| **Mutability**           | Immutable                       | Mutable                       |
| **Syntax**               | Defined using `()`              | Defined using `[]`            |
| **Performance**          | Faster due to immutability      | Slower due to mutability      |
| **Use Case**             | Fixed collections of items      | Collections requiring changes |
| **Storage**              | Less memory usage               | More memory usage             |
| **Functions Allowed**    | Limited due to immutability     | Extensive due to mutability   |
| **Hashable**             | Hashable (if containing only immutable items) | Not hashable                 |
| **Iteration**            | Slightly faster iteration       | Slightly slower iteration     |
| **Error-prone**          | Safer from accidental changes   | Prone to accidental changes   |
| **Common Applications**  | Keys in dictionaries, constants | Dynamic data storage          |
| **Memory Allocation**   | Allocated dynamically for resizing   | Fixed size, allocated statically      |
| **Internal Structure**  | Array of references with extra space for growth | Array of references with no extra space |
| **Execution**           | Slower due to dynamic resizing and mutability | Faster due to immutability and static nature |
| **Garbage Collection**  | More frequent due to resizing and mutability | Less frequent due to fixed size      |
| **Immutability Impact** | Requires checks for changes during execution | No need to check for changes          |

In [ ]:
# Property Showoff
myTuple = ("apple", "banana", "cherry", "date")
print(myTuple)


myTuple1 = (1)
print(type(myTuple1))

myTuple2 = (1,) # A comma can make an integer into a tuple
print(type(myTuple2))

# built in tuple function
myTuple3 = tuple(["apple", "banana", "cherry", "date"])
print(myTuple3)

# insertion
my_tuple = (1, 2, 3, 4, 5)
new_element = 6
new_tuple = my_tuple + (new_element,)  # Create a new tuple with the new element
print(new_tuple)

# index use in tuple
print(myTuple3.index("banana"))

# iteration in tuple
for i in myTuple3:
    print(i, end = " ")

# check element in tuple
if "banana" in myTuple3:
    print("yes")
else:
  print("no")

# len of tuple
print(len(myTuple3))

# count in tuple
print(myTuple3.count("apple"))

# slicing in tuple
print(myTuple3[1:3])

# index finding
print(myTuple3.index("cherry"))
# If the element is not present it will raise a ValueError

# conversion to list and back to tuple
myList = list(myTuple3)
myList.append("lemon")
myTuple3 = tuple(myList)
print(myTuple3)

# copying in a tuple
myTuple4 = myTuple3
print(myTuple4)

# element extraction from the tuple and its rules
a, b, *other, d = myTuple3
print(a)
print(b)
print(other)
print(d)

try:
    a, b, c = myTuple3  # This will raise a ValueError if the tuple has more than 3 elements
    print(a)
    print(b)
    print(c)
except ValueError as e:
    print(f"Error: {e}")
    print("The tuple has more than 3 elements.  Handle this situation appropriately.")


# comparison on the basis of size and time for creation of a tuple and list
import sys
import timeit

my_list = list(range(1000000))  # Example list
my_tuple = tuple(range(1000000))  # Example tuple

print("List size:", sys.getsizeof(my_list))
print("Tuple size:", sys.getsizeof(my_tuple))

# Time comparison for list creation
list_creation_time = timeit.timeit(stmt='[1, 2, 3, 4, 5]', number=1000000)
print(f"List creation time: {list_creation_time}")

# Time comparison for tuple creation
tuple_creation_time = timeit.timeit(stmt='(1, 2, 3, 4, 5)', number=1000000)
print(f"Tuple creation time: {tuple_creation_time}")

('apple', 'banana', 'cherry', 'date')
<class 'int'>
<class 'tuple'>
('apple', 'banana', 'cherry', 'date')
(1, 2, 3, 4, 5, 6)
1
apple banana cherry date yes
4
1
('banana', 'cherry')
2
('apple', 'banana', 'cherry', 'date', 'lemon')
('apple', 'banana', 'cherry', 'date', 'lemon')
apple
banana
['cherry', 'date']
lemon
Error: too many values to unpack (expected 3)
The tuple has more than 3 elements.  Handle this situation appropriately.
List size: 8000056
Tuple size: 8000040
List creation time: 0.06414254599997093
Tuple creation time: 0.018279448999919623

## **Dictionary**
Dictionary is a data structure that is unordered and mutable. It consists of a collection of key-value pairs.
- Each key-pair maps the **key** to it's associated **value**

In [ ]:
# Dictionary creation methods

# Method 1: Using curly braces {}
my_dict1 = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict1)

# Method 2: Using the dict() constructor
my_dict2 = dict(name="Bob", age=25, city="Los Angeles")
print(my_dict2)

# Method 3: Using a list of tuples
my_dict3 = dict([("name", "Charlie"), ("age", 35), ("city", "Chicago")])
print(my_dict3)

# Method 4: Using keyword arguments with dict()
my_dict4 = dict(name="David", age=40, city="Houston")
print(my_dict4)

# Method 5: Using zip() to combine keys and values
keys = ["name", "age", "city"]
values = ["Eve", 28, "Seattle"]
my_dict5 = dict(zip(keys, values))
print(my_dict5)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}
{'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
{'name': 'David', 'age': 40, 'city': 'Houston'}
{'name': 'Eve', 'age': 28, 'city': 'Seattle'}

In [ ]:
# Adding values to a dictionary

# Existing dictionary (example)
my_dict = {"name": "Alice", "age": 30}

# Method 1: Direct assignment
my_dict["city"] = "New York"  # Adds a new key-value pair
print(my_dict)

# Method 2: Using update() method
my_dict.update({"occupation": "Engineer", "country": "USA"})  # Adds multiple key-value pairs
print(my_dict)

# Method 3: Using the |= operator (Python 3.9+)
my_dict |= {"hobby": "Reading"}
print(my_dict)

#If you try to add a key that already exists, its value will be updated:
my_dict["age"] = 31 # update the age
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'hobby': 'Reading'}
{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'hobby': 'Reading'}

In [ ]:
# Define a dictionary with multiple attributes
my_dict = {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'hobby': 'Reading'}

# Delete the key 'age' from the dictionary
del my_dict["age"]
print(my_dict)  # Output: Dictionary without the 'age' key
# In case key is not mentioned, del keyword
# will delete the entire dictionary

# Remove the last element
my_dict.popitem()
print(my_dict)  # Output: Dictionary without the last key-value pair

# Remove the key 'city' using the pop() method and store its value in 'attri'
attri = my_dict.pop("city")
print(attri)  # Output: The value of the removed key 'city' ('New York')
print(my_dict)  # Output: Dictionary without the 'city' key

# Check if the key 'name' exists in the dictionary and print its value
if "name" in my_dict:
    print(my_dict["name"])  # Output: 'Alice'

# Check if the key 'lastname' exists in the dictionary and attempt to print its value
if "lastname" in my_dict:
    print(my_dict["lastname"])  # This block will not execute as 'lastname' is not in the dictionary

# Use a try-except block to handle a KeyError for the missing 'lastname' key
try:
    print(my_dict["lastname"])  # This will raise a KeyError
except KeyError as e:
    print(f"Error: {e}")  # Output: "Error: 'lastname'"
    print("The key 'lastname' does not exist in the dictionary.")

# Iterate through dictionary keys and values, ensuring proper formatting for the last key-value pair
keys = list(my_dict.keys())  # Convert keys to a list for index-based operations
for i, key in enumerate(my_dict.keys()):
    if i == len(keys) - 1:  # Check if the key is the last one
        print(f"{key} : {my_dict[key]}")  # Print without a trailing comma for the last key
    else:
        print(f"{key} : {my_dict[key]}", end=", ")  # Print with a trailing comma for intermediate keys

# Convert dictionary values to a list and iterate through them
values = list(my_dict.values())  # Convert values to a list
for i, value in enumerate(values):
    if i == len(values) - 1:  # Check if this is the last value
        print(f"Value {i + 1}: {value}")  # Print without a trailing comma for the last value
    else:
        print(f"Value {i + 1}: {value}", end=", ")  # Print with a trailing comma for intermediate values

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA', 'hobby': 'Reading'}
{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA'}
New York
{'name': 'Alice', 'occupation': 'Engineer', 'country': 'USA'}
Alice
Error: 'lastname'
The key 'lastname' does not exist in the dictionary.
name : Alice, occupation : Engineer, country : USA
Value 1: Alice, Value 2: Engineer, Value 3: USA

In [ ]:
#Copy Methods
my_dict = {"name" : "Alice", "age" : 30, "city" : "New York"}

my_dict_cpy = my_dict

print(my_dict_cpy)
print(my_dict)

my_dict_cpy["name"] = "Bob"

print(my_dict_cpy)
print(my_dict)

my_dict = {"name" : "Alice", "age" : 30, "city" : "New York"}

my_dict_cpy = dict(my_dict)

print(my_dict_cpy)
print(my_dict)

my_dict_cpy["name"] = "Bob"

print(my_dict_cpy)
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
# Tuples as keys in a dictionary

# Create a dictionary where tuples are used as keys
my_dict = {}
my_dict[(1, 2)] = "Value 1"
my_dict[(3, 4)] = "Value 2"
my_dict[("a", "b")] = "Value 3"

# Access values using the tuple keys
print(my_dict[(1, 2)])
print(my_dict[(3, 4)])
print(my_dict[("a", "b")])

# Iterate through the dictionary items
for key, value in my_dict.items():
  print(f"Key: {key}, Value: {value}")

Value 1
Value 2
Value 3
Key: (1, 2), Value: Value 1
Key: (3, 4), Value: Value 2
Key: ('a', 'b'), Value: Value 3

In [ ]:
my_dict = {"name" : "Alice", "age" : 30, "city" : "New York"}
my_dict1 = {"name1" : "Naman", "age1" : 21, "city1" : "KKR"}


my_dict.update(my_dict1)
print(my_dict)

# my_dict.clear()
# print(my_dict)

del my_dict['name1']
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'name1': 'Naman', 'age1': 21, 'city1': 'KKR'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'age1': 21, 'city1': 'KKR'}

## **Sets**
A set is a collection datatype that is unordered and mutable but unlike lists or tuples it doesn't allow duplicate elements.

In [ ]:
# Initialization of sets
odd = {1, 3, 5, 7, 9}
even = {2, 4, 6, 8, 10}
prime = {2, 3, 5, 7}

print("Odd: ", odd ,"\n" ,"Even: ", even ,"\n" ,"Prime: ", prime)

Odd:  {1, 3, 5, 7, 9}
 Even:  {2, 4, 6, 8, 10}
 Prime:  {2, 3, 5, 7}

In [ ]:
# Property: Sets store unique elements
example_set = {1, 2, 2, 3, 4}
print("Unique elements in set:", example_set)

Unique elements in set: {1, 2, 3, 4}

In [ ]:
# Adding a string to the set (use case: storing unique words)
example_set = {1, 2, 2, 3, 4}
example_set.add("hello")
print("After adding 'hello':", example_set)

After adding 'hello': {1, 2, 3, 4, 'hello'}

In [ ]:
example_set = {1, 2, 2, 3, 4}

# Remove method (raises KeyError if the element is absent)
example_set.remove(1)  # Removes 1
print("After removing 1:", example_set)

try:
    example_set.remove(100)  # Raises KeyError
except KeyError as e:
    print(f"Error: {e}")  # Output: "Error: 100"

# Discard method (doesn't raise an error if the element is absent)
example_set.discard(100)  # No error if 100 is not in the set
print("After discarding 100:", example_set)

# Clear method (empties the set)
example_set.clear()
print("After clear:", example_set)

# Pop method (removes and returns an arbitrary element)
example_set = {10, 20, 30}
popped = example_set.pop()
print("Popped element:", popped)
print("After pop:", example_set)

After removing 1: {2, 3, 4}
Error: 100
After discarding 100: {2, 3, 4}
After clear: set()
Popped element: 10
After pop: {20, 30}

In [ ]:
# Initialization of sets
odd = {1, 3, 5, 7, 9}
even = {2, 4, 6, 8, 10}
prime = {2, 3, 5, 7}

# Union (combines elements from both sets)
all_numbers = odd.union(even)
print("Union of odd and even:", all_numbers)

# Intersection (common elements in both sets)
common_primes = odd.intersection(prime)
print("Intersection of odd and primes:", common_primes)

# Difference (elements in one set but not in the other)
only_odd = odd.difference(prime)
print("Odd numbers not prime:", only_odd)

# Symmetric Difference: Values that are not common between two sets
not_common = odd.symmetric_difference(prime)
print("Odd numbers not prime (symmetric difference):", not_common)

Union of odd and even: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of odd and primes: {3, 5, 7}
Odd numbers not prime: {1, 9}
Odd numbers not prime (symmetric difference): {1, 2, 9}

In [ ]:
# Initialization of sets
odd = {1, 3, 5, 7, 9}
even = {2, 4, 6, 8, 10}
prime = {2, 3, 5, 7}

all = odd | even
print(all)

common = odd & prime
print(common)

only_odd = odd - prime
print(only_odd)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 5, 7}
{1, 9}

In [ ]:
example_set = {1, 2, 2, 3, 4}
odd = {1, 3, 5, 7, 9}
even = {2, 4, 6, 8, 10}
prime = {2, 3, 5, 7}

# Update method (adds elements from another set)
example_set.update(prime)
print("After update with primes:", example_set)

# Intersection Update (keeps only common elements with another set)
example_set.intersection_update(odd)
print("After intersection update with odd:", example_set)

# Difference Update (removes elements in another set)
example_set.difference_update({3, 7})
print("After difference update (removing 3, 7):", example_set)

# Symmetric Difference Update (keeps only non-common elements)
example_set.symmetric_difference_update(even)
print("After symmetric difference update with even:", example_set)

After update with primes: {1, 2, 3, 4, 5, 7}
After intersection update with odd: {1, 3, 5, 7}
After difference update (removing 3, 7): {1, 5}
After symmetric difference update with even: {1, 2, 4, 5, 6, 8, 10}

In [ ]:
# Initial sets
A = {1, 2, 3}
B = {1, 2}
C = {4, 5}

# Subset method: check if one set is a subset of another
print("B is subset of A:", B.issubset(A))
print("A is subset of B:", A.issubset(B), end = "\n\n")

# Superset method: check if one set is a superset of another
print("A is superset of B:", A.issuperset(B))
print("B is superset of A:", B.issuperset (A), end = "\n\n")

# Disjoint method: check if two sets have no common elements
print("A and C are disjoint:", A.isdisjoint(C))
print("A and B are disjoint:", A.isdisjoint(B), end = "\n\n")

# Copying methods
original = {10, 20, 30}
shallow_copy = original.copy()
print("Original set:", original)
print("Shallow copy:", shallow_copy, end = "\n\n")

# Modifying the original to show it doesn't affect the copy
original.add(40)
print("After modifying original set:")
print("Original:", original)
print("Copy:", shallow_copy, end = "\n\n")

# Frozen set: immutable set
frozen = frozenset([1, 2, 3])
print("Frozen set:", frozen, end = "\n\n")

# Operations on frozen set (only operations that don't modify it)
print("Union of frozen set and B:", frozen.union(B))
print("Intersection of frozen set and B:", frozen.intersection(B))
print("Frozen set is subset of A:", frozen.issubset(A))

# Attempting modification results in an error (uncomment to test)
#frozen.add(4)  # AttributeError: 'frozenset' object has no attribute 'add'

B is subset of A: True
A is subset of B: False

A is superset of B: True
B is superset of A: False

A and C are disjoint: True
A and B are disjoint: False

Original set: {10, 20, 30}
Shallow copy: {10, 20, 30}

After modifying original set:
Original: {40, 10, 20, 30}
Copy: {10, 20, 30}

Frozen set: frozenset({1, 2, 3})

Union of frozen set and B: frozenset({1, 2, 3})
Intersection of frozen set and B: frozenset({1, 2})
Frozen set is subset of A: True

## **Strings**
A string is a sequence of characters. String literals in Python are enclosed by either double or single quotes.

`my_string = 'Hello'`

Python strings are immutable which means they cannot be changed after they are created. Strings are ordered

In [ ]:
# Creation
# use singe or double quotes
my_string = 'Hello'
my_string = "Hello"
my_string = "I' m  a 'Geek'"

# escaping backslash
my_string = 'I\' m  a "Geek"'
my_string = 'I\' m a \'Geek\''
print(my_string)

# triple quotes for multiline strings
my_string = '''Hello
               World'''
print(my_string)

# backslash if you want to continue in the next line
my_string = "Hello \
World"
print(my_string)

I' m a 'Geek'
Hello
World
Hello World

In [ ]:
# Access characters and substrings
my_string = "Hello World"

# get character by referring to index
b = my_string[0]
print(b)

# Substrings with slicing
b = my_string[1:3] # Note that the last index is not included
print(b) #el
b = my_string[:5] # from beginning
print(b)
print(my_string[3:]) # from 3 index to end
b = my_string[6:-1] # from 6 index to one before the last index
print(b)
b = my_string[-2:-5] # from index -2 to -5 index which makes no sense to python so prints not
print(b)
print(my_string[-5:-2])
b = my_string[::2] # start to end with every second item
print(b)
b = my_string[::-1] # reverse the string with a negative step:
print(b)

H
el
Hello
lo World
Worl

Wor
HloWrd
dlroW olleH

In [ ]:
# Concatenate two or more strings

# concat strings with +
greeting = "Hello"
name = "Tom"
sentence = greeting + ' ' + name
print(sentence)

Hello Tom

In [ ]:
# Iterating

# Iterating over a string by using a for in loop
my_string = 'Hello'
for i in my_string:
    print(i, end = " ")

H e l l o

In [ ]:
# Check if a character or substring exists
if "e" in "Hello":
    print("yes")
if "llo" in "Hello":
    print("yes")

yes
yes

lstrips - Strips on the left side only. Takes input argument if

In [ ]:
my_string = "    !!!!!!!!!Hello Worldlklklklklk    "

# remove white space
my_string1 = my_string.strip() #Since string is immutable my_string won't change
print(f'{my_string} with length {len(my_string)}')
print(f'{my_string1} with length {len(my_string1)}')

print(f'{my_string1.lstrip("!")} with length {len(my_string1.lstrip("!"))}') # only strips left hand trailing characters
print(f'{my_string1.rstrip("lk").lstrip("!")} with length {len(my_string1.rstrip("lk").lstrip("!"))}') # only strips right hand trailing characters

    !!!!!!!!!Hello Worldlklklklklk     with length 38
!!!!!!!!!Hello Worldlklklklklk with length 30
Hello Worldlklklklklk with length 21
Hello World with length 11

In [ ]:
# number of characters
my_string = "Hello World"
print(len(my_string))

11

In [ ]:
# Upper and lower cases
print(my_string.upper())
print(my_string.lower())

HELLO WORLD
hello world

In [ ]:
# startswith and endswith
print("hello".startswith("he"))
print("hello".endswith("llo"))
print("hello".endswith("olo"))
print("hello".endswith("el",1,3)) # ending with given string between index 1 and index 3

True
True
False
True

In [ ]:
# find first index of a given substring, -1 otherwise
print("Hello".find("o"))
print("Hello".find("lo"))
print("superhero".find("mass"))

4
3
-1

In [ ]:
# count number of characters/substrings
print("Hello how are you feeling this morning".count("h"))
print("Hello".count("l"))

2
2

In [ ]:
# replace a substring with another string (only if the substring is found)
# Note: The original string stays the same
message = "Hello World"
new_message = message.replace("World", "Universe")
print(new_message)

# Prints original string if substring not found
new_message = message.replace("Worrrlddd", "Universe")
print(new_message)

Hello Universe
Hello World

Splits on the basis of character passed as argument. Return type is a list of strings.

In [ ]:
my_string = "Hi my name is Naman"

my_string.split(" ")

['Hi', 'my', 'name', 'is', 'Naman']

In [ ]:
# Program to find the ASCII value of the given character

c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

chr(112)

The ASCII value of 'p' is 112

'p'

In [ ]:
# Finding unique characters in the string
myset = set(my_string)
print(myset)

{'y', 's', ' ', 'm', 'a', 'n', 'N', 'H', 'i', 'e'}

In [ ]:
my_string = "hi my name is Naman"
my_string.capitalize()

'Hi my name is naman'

In [ ]:
my_string = "   This is a sample string.   "

# center() function
centered_string = my_string.center(50, '*')  # Centers the string within a field of width 50, padded with '*'
print("Centered string:", centered_string)


# find() function
index = my_string.find("sample")  # Finds the index of the first occurrence of "sample"
print("Index of 'sample':", index)

index = my_string.find("xyz") # Find returns -1 if the substring isn't found
print("Index of 'xyz':", index)


# index() function (similar to find(), but raises an exception if not found)
try:
    index = my_string.index("sample")
    print("Index of 'sample':", index)

    index = my_string.index("xyz") # Raises ValueError as 'xyz' is not in the string
    print("Index of 'xyz':", index)
except ValueError:
    print("Substring 'xyz' not found")


# isprintable() function
printable_string = "This is printable."
non_printable_string = "This is not printable.\n"

print("Is printable:", printable_string.isprintable())
print("Is printable:", non_printable_string.isprintable())


# istitle() function
title_string = "This Is A Title"
not_title_string = "This is not a title"

print("Is title:", title_string.istitle())
print("Is title:", not_title_string.istitle())

Centered string: **********   This is a sample string.   **********
Index of 'sample': 13
Index of 'xyz': -1
Index of 'sample': 13
Substring 'xyz' not found
Is printable: True
Is printable: False
Is title: True
Is title: False

### What is String Formating?

New String formatting method:
- Also known as Literal String Interpolation or f-strings.

f-string evaluates at runtime

In [ ]:
letter = "Hey my name is {} and I am from {}"
country = "India"
name = "Naman"

print(letter.format(name, country))
# Issue
letter1 = "Hey my name is {1} and I am from {0}"
print(letter1.format(country, name))

Hey my name is Naman and I am from India
Hey my name is Naman and I am from India

In [ ]:
print(f'Hey my name is {name} and I am from {country}')# f indenties the string as formatting string

Hey my name is Naman and I am from India

In [ ]:
price = 49.99999
print(f'The price is {price}') #Prints all the decimal places
print(f'The Price is {price:.2f}') #Prints only 2 decimal places

The price is 49.99999
The Price is 50.00

In [ ]:
#To nullify the effect of f-strings

price = 49.99999
print(f'The price is {{price}} can be written as {price}') #Prints all the decimal places

The price is {price} can be written as 49.99999

### **Docstrings (for readability of the code)**

Python comments are descriptions that help programmers understand the intent and functionality of the program. They are completely ignored by the Python interpreter whereas Python **docstrings** are strings used right after the definition of the function, method, class, or modeule. They are used to document our code.

In [ ]:
def Square(n):
  '''Takes in a number n, returns the square of n'''
  return n**2

print(Square(5))
print(Square.__doc__)

25
Takes in a number n, returns the square of n

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## **Exception Handling**

 Exception handling is the process of responding to unwanted or unexpected events when a computer program runs. Exception handling deals with these events to avoid the program or systems crashing, and without this process, exceptions would disrupt the normal operations of a program.

In python, there are many in-built exceptions that are raised when your program encounters an error (something in the program goes wrong)

When these exceptions occur, the python interpreter stops the current process and passes it to the calling process until it's handled. If not handled, the program will crash.

$try$ and $except$ keywords are used in python to handle errors and exceptions. The code in try block runs when there is no error. If the try block catches the error, then the except block is executed

In [ ]:
a = input("Enter the number: ")
print(f"Multiplication table of {a} is:")
try:
  for i in range(1,11):
    print(f"{int(a)} X {i} = {int(a)*i}")
# except Exception as e:
#   print(f"{e}")
except:
  print(f"Sorry some error occured")

print("Completed") # This line runs irrespective of error

Enter the number: 58
Multiplication table of 58 is:
58 X 1 = 58
58 X 2 = 116
58 X 3 = 174
58 X 4 = 232
58 X 5 = 290
58 X 6 = 348
58 X 7 = 406
58 X 8 = 464
58 X 9 = 522
58 X 10 = 580
Completed

In [ ]:
def funcky(t: int):
  try:
    num = int(input("Enter an positive integers: "))
    b = 5/num
    if t==0:
      a = num + 'r'
    elif t==2:
      a = chr(num) + 'r'
    elif t==1:
      return
  except ValueError:
    print("Number entered is not an integer")
  except TypeError:
    print("Number cannot be added to a string")
  except ZeroDivisionError:
    print("Division by zero is not possible")
  else:
    print("Everthing is fine!")
  finally:
    print("FINALLY! It's over!")


funcky(0)
print('\n')
funcky(1)
print('\n')
funcky(2)

Enter an positive integers: 5
Number cannot be added to a string
FINALLY! It's over!


Enter an positive integers: 5
FINALLY! It's over!


Enter an positive integers: 5
Everthing is fine!
FINALLY! It's over!

In [ ]:
k = [3,353,53,35]
try:
  print(k[5])
except IndexError:
  print("Index out of range")

Index out of range

### **Finally**

Using finally keyword causes the code to always run the lines in the finally keyword's scope.

It's property is mainly used in functions as before exiting the scope of functions midway through the process due to return after an error was catched and except block

In [ ]:
# Finally key word

def func1():
  try:
    l = [1,5,6,7]
    i = int(input("Enter the index: "))
    print(l[i])
    return True
  except:
    print("Some error occured")
    return False
  finally:
    print("I am always executed")


print(func1())

Enter the index: 323
Some error occured
I am always executed
False

### **Raising Custom Errors**

In python we can raise custom errors by using the $raise$ keyword.

In [ ]:
def error(a: int):
  if a < 5 or a > 9:
    raise ValueError("Invalid value entered")

try:
  a = int(input("Enter a number: "))
  error(a)
  print(a)
except ValueError as e:
  print(e)

Enter a number: 3
Invalid value entered

## **Short-hand if-else**

Ruins readablity

In [ ]:
a = 330
b = 331
print("A") if a > b else print("=") if a == b else print("B")

B

In [ ]:
year = int(input("Enter a year: "))
leap = False if year%4!=0 else True if year%100!=0 else True if year%400 == 0 else False
print(f"{year} is a leap year: {leap}")

Enter a year: 2021
2021 is a leap year: False

## **Enumerate**

The enumerate function is a built-in function in python that allows you to loop over a sequence (such as a list,tuple, or string) and get the index and value of each element in the sequence at the same time.

In [ ]:
fruits = ['apple','banana','mango']

for t in enumerate(fruits):
  print(t," ", type(t))

# The data is of tuple type therefore unpack it in beginning of each iteration of loop
for index,value in enumerate(fruits):
  print(index,value)
  if(index == 2):
    print('How you doing?')
print("",end = '\n\n')


# To start enumerate function from a particular index
for index,value in enumerate(fruits,start=2):
  print(index,value)
  if index == 2:
    print('How you doing?')

(0, 'apple')   <class 'tuple'>
(1, 'banana')   <class 'tuple'>
(2, 'mango')   <class 'tuple'>
0 apple
1 banana
2 mango
How you doing?


2 apple
How you doing?
3 banana
4 mango

## **Developer Shortcuts for Virtual Environments in Anaconda**

### Create a New Virtual Environment
```bash
conda create --name <env_name> python=<version>
```
Example:
```bash
conda create --name my_env python=3.9
```

### Activate a Virtual Environment
```bash
conda activate <env_name>
```
Example:
```bash
conda activate my_env
```

### Deactivate a Virtual Environment
```bash
conda deactivate
```

### List All Virtual Environments
```bash
conda env list
```

### Remove a Virtual Environment
```bash
conda remove --name <env_name> --all
```
Example:
```bash
conda remove --name my_env --all
```

### Export Environment to a YAML File
```bash
conda env export > environment.yml
```

### Create Environment from YAML File
```bash
conda env create -f environment.yml
```

### Export Requirements to requirements.txt
```bash
conda list --explicit > requirements.txt
```

### Export a Simpler requirements.txt
Run this within the environment activated environment
```bash
conda list --export > requirements.txt
```
### Add a New Package to the Environment
```bash
conda install -n <env_name> <package_name>
```
Example:
```bash
conda install -n my_env numpy
```

### Update All Packages in the Environment
```bash
conda update --all
```

### Search for a Package
```bash
conda search <package_name>
```

---

### Tips
- Always deactivate the current environment before switching to another.
- Use `environment.yml` files to ensure reproducibility across systems.
- Regularly clean up unused environments to save disk space.

## **Importing in python**

Importing in Python is the process of loading code from a Python module into the current script. This allows you to use the functions and variables defined in the module in your current script, as well as any additional modules that the imported module may depend on.

To import a module in Python, you use the import statement followed by the name of the module. For example, to import the math module, which contains a variety of mathematical functions.

In [ ]:
import pandas

pandas.read_csv('/content/sample_data/california_housing_train.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

Once a module is imported, you can use any of the functions and variables defined in the module by using the dot notation.

In [ ]:
import math #imports modules from math library and can be used using math.function_name

math.floor(32.42523)

32

In [ ]:
from math import sqrt #import a particular module

sqrt(9)

3.0

In [ ]:
from math import * #import all modules

sqrt(9)

3.0

In [ ]:
from math import sqrt,pi as s,#import particular modules with alias
result = sqrt(100) * pi
print(result)

31.41592653589793

In [ ]:
import math

print(dir(math))
print(math.nan,type(math.nan))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
nan <class 'float'>

### **Create Custom Module**

Any python file 1 if called in python file 2 given that file 1 is present in the same directory as the file 2 will just fine.


I made a naman.py file with this code:
```python
def welcome():
    print("My name is Naman")

welcome()
```

And when I imported this module in my main.py

```python
import naman


```

```bash
My name is Naman
My name is Naman
```

this is because welcome is executed twice once when calling the function in main.py and other in naman.py

So use ```if __name__ == "__main__":``` instead in the naman.py file.```__name__``` represents from the code is being run.

```python
def welcome():
    print("My name is Naman")

if __name__ == "__main__":
    welcome()

```

this way the output will be only:

```
My name is Naman
```
1. **Direct Execution Check:** When `naman.py` is run directly, `__name__` is set to `"__main__"`, causing the `welcome()` function within the `if __name__ == "__main__":` block to execute, printing "My name is Naman" just once.

2. **Import Behavior:** When `naman.py` is imported as a module in another script like `main.py`, `__name__` is set to `"naman"`, not `"__main__"`, so the `welcome()` function inside the `if` block does not execute, preventing it from printing "My name is Naman" again.

## **os Module**

The os module in Python is a built-in library that provides functions for interacting with the operating system. It allows you to perform a wide variety of tasks, such as reading and writing files, interacting with the file system, and running system commands.

In [ ]:
import os

This_folder = os.getcwd()
print(This_folder)

myfolder = os.path.join(This_folder,"drive/MyDrive/Python")
print(myfolder)

/content
/content/drive/MyDrive/Python

In [ ]:
os.chdir(myfolder)
print(os.getcwd())

/content/drive/MyDrive/Python

In [ ]:
for dir_list in os.listdir():
  print(dir_list)

.ipynb_checkpoints
naman.py
main.py
myfile.txt
Python Notebook.ipynb

In [ ]:
# Creates a new file and writes in it
with open('myfile1.txt', 'w') as fp:
    fp.write("This is a file created using os module")

In [ ]:
for dir_list in os.listdir():
  print(dir_list)

.ipynb_checkpoints
naman.py
main.py
myfile.txt
Python Notebook.ipynb
myfile1.txt

In [ ]:
f = os.open('myfile.txt',os.O_RDONLY)

contents = os.read(f,1024)
print(contents)

os.close(f)

b'This is file created using os module'

In [ ]:
os.listdir(".")

['.ipynb_checkpoints',
 'naman.py',
 'main.py',
 'myfile.txt',
 'Python Notebook.ipynb',
 'myfile1.txt']

In [ ]:
if os.path.exists("data") is False:
  os.mkdir("data")

for i in range(0,100):
  os.mkdir(f"data/day{i+1}")

In [ ]:
for i in range(0,100):
  os.rename(f"data/day{i+1}",f"data/Tutorial {i+1}")

In [ ]:
os.makedirs('data/Sub-dir-1')

In [ ]:
os.rmdir('data/Sub-dir-1') #for removing particular directories

In [ ]:
try:
  os.removedirs('data')  #for removing complete directories
except Exception as e:
  print(e)
  print("This error is printed as the directory is not empty and removedirs doesn't remove the directories which are not empty")

[Errno 39] Directory not empty: 'data'
This error is printed as the directory is not empty and removedirs doesn't remove the directories which are not empty

In [ ]:
import shutil
# Delete a Non-Empty Directory using shutil

shutil.rmtree('data',ignore_errors=True,onerror=None)

In [ ]:
from datetime import datetime

mod_time = os.stat('myfile.txt').st_mtime
print(datetime.fromtimestamp(mod_time))

2025-01-11 06:20:40

In [ ]:
for dirpath,dirname,filenames in os.walk(os.getcwd()):
  print("Current Path:",dirpath)
  print("Directories:",dirname)
  print("Files:",filenames)
  print()

Current Path: /content/drive/MyDrive/Python
Directories: ['.ipynb_checkpoints']
Files: ['naman.py', 'main.py', 'myfile.txt', 'Python Notebook.ipynb', 'myfile1.txt']

Current Path: /content/drive/MyDrive/Python/.ipynb_checkpoints
Directories: []
Files: []

### **Files IO**

#### **Opening a file**
 Python provides the open() function to open a file. It takes two arguments: the name of the file and the mode in which the file should be opened. The mode can be 'r' for reading, 'w' for writing, or 'a' for appending.

#### **Modes in file**

There are various modes in which we can open files.

- read (r): This mode opens the file for reading only and gives an error if the file does not exist. This is the default mode if no mode is passed as a parameter.

- write (w): This mode opens the file for writing only and creates a new file if the file does not exist. It overwrites over a content.

- append (a): This mode opens the file for appending only and creates a new file if the file does not exist.

- create (x): This mode creates a file and gives an error if the file already exists.

- text (t): Apart from these modes we also need to specify how the file must be handled. t mode is used to handle text files. t refers to the text mode. There is no difference between r and rt or w and wt since text mode is the default. The default mode is 'r' (open for reading text, synonym of 'rt' ).

- binary (b): used to handle binary files (images, pdfs, etc).

In [ ]:
f = open('myfile.txt','r')
print(f.read())
f.close()

with open('myfile.txt','a') as f: #Automatically closes the file after being open
  f.write(".\nHi! now opening the file via file handling in python. ")

f = open('myfile.txt','r')
print(f.read())
f.close()

This is file created using os module.
Hi! now opening the file via file handling in python
This is file created using os module.
Hi! now opening the file via file handling in python.
Hi! now opening the file via file handling in python.

#### **readlines() method**
The readline() method reads a single line from the file. If we want to read multiple lines, we can use a loop.

The readlines() method reads all the lines of the file and returns them as a list of strings.

In [ ]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line)

This is file created using os module.

Hi! now opening the file via file handling in python.

Hi! now opening the file via file handling in python.

#### **writelines() method**
The writelines() method in Python writes a sequence of strings to a file. The sequence can be any iterable object, such as a list or a tuple.

In [ ]:
f = open('myfile3.txt', 'w')
lines = ['line 1\nline 2\nline 3\n']
f.writelines(lines)
f.close()

In [ ]:
f = open('myfile.txt', 'w')
lines = ['line 1', 'line 2', 'line 3']
for line in lines:
    f.write(line + '\n')
f.close()

#### **seek(), tell() and truncate() methods**

In Python, the seek() and tell() functions are used to work with file objects and their positions within a file. These functions are part of the built-in io module, which provides a consistent interface for reading and writing to various file-like objects, such as files, pipes, and in-memory buffers.

The **seek()** function allows you to move the current position within a file to a specific point. The position is specified in bytes, and you can move either forward or backward from the current position.

The **tell()** function returns the current position within the file, in bytes. This can be useful for keeping track of your location within the file or for seeking to a specific position relative to the current position.

When you open a file in Python using the open function, you can specify the mode in which you want to open the file. If you specify the mode as 'w' or 'a', the file is opened in write mode and you can write to the file. However, if you want to truncate the file to a specific size, you can use the **truncate()**.

In [ ]:
import os
print(os.getcwd())
os.chdir('/content/drive/MyDrive/Python')
print(os.getcwd())

with open('myfile.txt','r') as f:
  print(type(f))

  f.seek(10)

  data = f.read(10)
  print(data)

  print(f.tell())

/content/drive/MyDrive/Python
/content/drive/MyDrive/Python
<class '_io.TextIOWrapper'>
le created
20

## **Local Variable vs Global Variable**

A local variable is a variable that is defined within a function and is only accessible within that function. It is created when the function is called and is destroyed when the function returns.

On the other hand, a global variable is a variable that is defined outside of a function and is accessible from within any function in your code.

In [ ]:
x = 10

def my_function():
    x = 5
    print(x)

my_function()
print(x)

5
10

In [ ]:
x = 10

def my_function():
    global x
    x = 5
    y = 5

my_function()
print(x)
try:
  print(y)
except Exception as e:
  print(e)

5
name 'y' is not defined

## **Lambda Function**

In Python, a lambda function is a small anonymous function without a name. It is defined using the lambda keyword and has the following syntax:

```python
lambda arguments: expression
```
Lambda functions are often used in situations where a small function is required for a short period of time. They are commonly used as arguments to higher-order functions, such as map, filter, and reduce.

In [ ]:
from re import X
double = lambda x: x * 2
print(double(5))
cube = lambda x: x * x * x
print(cube(3))
avg = lambda x,y,z: (x+y+z)/3
print(avg(3,5,2))

10
27
3.3333333333333335

In [ ]:
#passing function as an argument

def appl(fx,value):
  return 5 + fx(value)

print(appl(double,3))
print(appl(cube,3))

11
32

In [ ]:
# using lambda with sorted function
points2D =  [(1,2),(15,1),(5,-1),(10,4)]
points2D_sorted = sorted(points2D,key = lambda x: x[1] + x[0])
print(points2D)
print(points2D_sorted)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]

### **Map, Filter and Reduce**
The map, filter, and reduce functions are built-in functions that allow you to apply a function to a sequence of elements and return a new sequence. These functions are known as higher-order functions, as they take other functions as arguments.

The map function applies a function to each element in a sequence and returns a new sequence containing the transformed elements. The map function has the following syntax

```python
map(function , iterable)
```

In [ ]:
# using lambda with map function
a = [1,2,3,4,5]
b = map(lambda x: x**2,a)
print(list(b))

[1, 4, 9, 16, 25]

The filter function filters a sequence of elements based on a given predicate (a function that returns a boolean value) and returns a new sequence containing only the elements that meet the predicate. The filter function has the following syntax:
```python
filter(predicate, iterable)
```
The predicate argument is a function that returns a boolean value and is applied to each element in the iterable argument. The iterable argument can be a list, tuple, or any other iterable object.

In [ ]:
a = [1,2,3,4,5,6]
b = filter(lambda x: x%2==0,a)
print(list(b))

[2, 4, 6]

The reduce function is a higher-order function that applies a function to a sequence and returns a single value. It is a part of the functools module in Python and has the following syntax:
```python
reduce(function, iterable)
```
The function argument is a function that takes in two arguments and returns a single value. The iterable argument is a sequence of elements, such as a list or tuple.

The reduce function applies the function to the first two elements in the iterable and then applies the function to the result and the next element, and so on. The reduce function returns the final result.

In [ ]:
from functools import reduce

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Calculate the diff of the numbers using the reduce function
sum = reduce(lambda x, y: x * y, numbers)

# Print the sum
print(sum)

120

## **any()**

The any() function returns True if any item in an iterable are true, otherwise it returns False.

If the iterable object is empty, the any() function will return False.

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mytuple = (0, 1, False)
x = any(mytuple)
print(x)

True

## **Time Module in Python**

- Python’s time module provides a variety of functions that help you work with time-related tasks.
- You can measure time intervals, pause your program, convert between different time representations, and format time stamps for display.

In [ ]:
import time
count = 1
start = time.time() #Returns the current time in seconds since the “Unix Epoch” (January 1, 1970, 00:00:00 UTC).
# some code here
for i in range(1000):
  count += 1
end = time.time()
print("Time taken:", end - start, "seconds")

Time taken: 0.000308990478515625 seconds

In [ ]:
current_time = time.time() #Takes the number of seconds since the Unix Epoch and returns a readable string representing local time.
print(time.ctime(current_time))

Mon Jan  6 07:42:28 2025

In [ ]:
print("Start")
time.sleep(2)  # Pause for 2 seconds
print("End")

Start
End

In [ ]:
now_struct = time.localtime()
formatted_time = time.strftime("%Y-%m-%d %H:%M:%S", now_struct)
print(formatted_time)
# Output example: "2025-01-06 14:32:53"

2025-01-06 07:45:37

## **Match-Case**

The match case statement offers a powerful mechanism for pattern matching in Python. It allows us to perform more expressive and readable conditional checks. Unlike traditional if-elif-else chains, which can become unwieldy with complex conditions, the match-case statement provides a more elegant and flexible solution.

This is a swtich-case like function used also in c++. The only DIFFERENCE is that we don't have to use break keyword after each case to prevent consecutively written cases in the code to be printed.

In [ ]:
def check_number(x):
    match x:
        case 10:
            print("It's 10")
        case 20:
            print("It's 20")
        case _:#default case
            print("It's neither 10 nor 20")

check_number(10)
check_number(30)

It's 10
It's neither 10 nor 20

In [ ]:
animal = "cat"

match animal:
    case ("dog" | "cat"):
        print("This is a pet (dog or cat).")
    case "horse":
        print("This is a horse.")
    case _:
        print("Unknown animal.")

This is a pet (dog or cat).

In [ ]:
n = int(input("Enter a number: "))

match n:
  case n if n > 10 and n < 20:
    print("Number is greater than 10 and less than 20")
  case n if n < 10:
    print("Number is less than 10")
  case n if n > 20:
    print("Number is greater than 20")
  case _:
    print(f'{n} is the number')

Enter a number: 15
Number is greater than 10 and less than 20

In [ ]:
point = (1, 2)

match point:
    case (0, 0):
        print("Origin")
    case (x, 0):
        print(f"Point is on the X-axis at x={x}")
    case (0, y):
        print(f"Point is on the Y-axis at y={y}")
    case (x, y):
        print(f"Point is at x={x}, y={y}")

Point is at x=1, y=2

In [ ]:
person = ("Alice", 30, "Architect")

match person:
    case (name, _, "Engineer"):
        print(f"{name} is an Engineer.")
    case (name, age, _):
        print(f"{name} is {age} years old but not an Engineer.")

Alice is 30 years old but not an Engineer.

## **Decorators**

Decorators are a design pattern in Python that allows you to modify or extend the behavior of a function or method without changing its source code.

###**Key Concepts Behind Decorators**

#### **Functions as First-Class Objects:**
Functions in Python are treated as objects. You can assign them to variables, pass them as arguments, or return them from other functions.

In [11]:
def greet():
    return "Hello!"

# Assigning a function to a variable
say_hello = greet
print(say_hello())  # Output: Hello!

Hello!

####**Nested Functions:**
A function can be defined inside another function.

In [12]:
def outer_function():
    def inner_function():
        print("Inner function")
    inner_function()

outer_function()

Inner function

#### **Functions as Arguments:**
Functions can be passed as arguments to other functions.

In [13]:
def add(x, y):
    return x + y

def operate(func, a, b):
    return func(a, b)

print(operate(add, 5, 3))  # Output: 8

8

#### **Functions Returning Functions:**

A function can return another function.
python
Copy code

In [14]:
def outer_function():
    def inner_function():
        return "Returned from inner!"
    return inner_function

returned_function = outer_function()
print(returned_function())  # Output: Returned from inner!

Returned from inner!

### **Creating Decorators**
A decorator is a function that takes another function as input, adds some functionality, and returns the modified function.

In [15]:
def decorator_function(original_function):
    def wrapper_function():
        # Code to execute before the original function
        print("Wrapper executed before the original function.")

        # Call the original function
        original_function()

        # Code to execute after the original function
        print("Wrapper executed after the original function.")

    return wrapper_function

In [17]:
def display():
    print("Display function executed.")

In [18]:
display = decorator_function(display)

display()

Wrapper executed before the original function.
Display function executed.
Wrapper executed after the original function.

Now, since I have to call `display()` with extented functionality from the the `decorator function()`, I have to use this line always i.e. `display = decorator_function(display)` to create, pass, update the display function. Instead of this just write @name_of_decorator function before the actual function to avoid doing all that.
In this case it'll be `@decorator_function`

In [20]:
def decorator_function(original_function):
    def wrapper_function():
        # Code to execute before the original function
        print("Wrapper executed before the original function.")

        # Call the original function
        original_function()

        # Code to execute after the original function
        print("Wrapper executed after the original function.")

    return wrapper_function

@decorator_function
def display():
    print("Display function executed.")

# Equivalent to:
# display = decorator_function(display)

display()

Wrapper executed before the original function.
Display function executed.
Wrapper executed after the original function.

### **Use Cases of Decorators**

#### **Built-in Decorators in Python**

`@staticmethod` - A static method is a method defined inside a class that does not operate on an instance or the class itself. It is a utility function, logically grouped within a class but does not require access to class-specific or instance-specific data.
- Declared using the @staticmethod decorator.
- Does not take self (instance reference) or cls (class reference) as its first argument.
- Cannot access or modify instance or class-level attributes.

In [27]:
class Calculator:
    @staticmethod
    def add(a, b):
        return a + b

    @staticmethod
    def multiply(a, b):
        return a * b

# Call static methods without creating an instance
print(Calculator.add(5, 3))      # Output: 8
print(Calculator.multiply(4, 6)) # Output: 24

8
24

`@classmethod` - A class method is a method that operates on the class itself rather than any particular instance. It has access to the class object (cls) and can modify class-level attributes.

- Declared using the @classmethod decorator.
- The first parameter is cls, a reference to the class.
- Can access and modify class-level attributes.
- Often used for alternative constructors or class-level operations.

In [43]:
class Employee:
  company_name = 'Techcorp'

  def __init__(self, name):
    self.name  = name

  @classmethod
  def change_company(cls,new_name):
    cls.company_name = new_name

Employee.change_company('Google') # changes data at a class level
print(Employee.company_name)
emp1 = Employee('Naman')
print(emp1.company_name)
emp1.change_company('Microsoft') # still changes data at a class level as it is a class method and is changing a class attribute not an instance attribute as cls is pass as argument not self
print(emp1.company_name)
print(Employee.company_name)

Google
Google
Microsoft
Microsoft

**Use Case:** When a method needs to interact with or modify the class itself, such as altering class attributes or providing alternative constructors.

## **OOPs in Python**

[Source](https://www.youtube.com/watch?v=Ej_02ICOIgs)

- Object-Oriented Programming (OOP) organizes data and behavior into objects.
- Objects are instances of classes, which serve as blueprints for creating structured and reusable data types.

**Example for Explanation: Store Management System**

A store management system is chosen as the example to demonstrate OOP concepts in a relatable and practical manner.
The first step in the system is tracking items in a store, showing how basic variables can be used.

In [ ]:
item1 = "Phone"
item1_price = 100
item1_quantity = 5
item1_price_total = item1_price * item1_quantity


print(type(item1))

print(type(item1_price))

print(type(item1_quantity))

print(type(item1_price_total))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

**Challenge Identified:**

- These variables are related by naming convention (item1_), but Python treats them as independent.
- The relationship is not enforced by the language, leading to potential errors and lack of scalability.

- Python's built-in data types (int, str, etc.) are objects instantiated from their respective classes.
- The same principles apply when creating custom classes.

### **Introduction to Classes**
- A class is a way to define a custom data type that bundles attributes and behaviors.
- Attributes define the properties of an object (e.g., name, price, quantity).
- Behaviors (or methods) define the actions an object can perform.

**Definition of Classes**
- A class in Python is a blueprint for creating objects.

- It defines a structure for encapsulating related attributes (data) and methods (behavior).

**Creating Objects**
- An object is an instance of a class.

- It is created by calling the class name followed by parentheses.

- Each object is independent and can have its own attributes and behaviors.

In [ ]:
# Defining a class
class Item:
    pass

# Creating an object (instance of the class)
item1 = Item()
print(type(item1))

<class '__main__.Item'>

**Benefits of Using Classes**
- Encapsulation: Bundles data and related behavior.

- Reusability: Once defined, classes can be reused to create multiple objects.

- Scalability: Easier to manage and expand compared to scattered variables.

**Attributes in Python Classes**
- Attributes are variables associated with an object that store data about that object.

**Adding Attributes to Objects**
- Attributes can be added to an object after creation using the dot operator.
- Attributes are explicitly tied to an object (e.g., item1.name).
- This grouping enforces a relationship between the properties.

In [ ]:
# Define a class
class Item:
    pass

# Create an instance of the class
item1 = Item()

# Assign attributes to the instance
item1.name = "Phone"
item1.price = 100
item1.quantity = 5

In [ ]:
# Accessing Attributes
print(item1.name)       # Output: Phone
print(item1.price)      # Output: 100
print(item1.quantity)   # Output: 5

Phone
100
5

### **Methods in Python Classes**
- Methods are functions defined within a class that operate on the objects of that class.
- Functions are standalone and operate independently.
- Methods are tied to a class and operate on instances of that class.

**Creating Methods**
- Methods are defined within a class using the def keyword.

- The first parameter of a method is always self, which represents the instance on which the method is called.

In [ ]:
class Item:
    # Method to calculate the total price of an item
    def calculate_total_price(self): # Since passing of self, tranferring the values x and y is redundant as the price and quantity are bounded by self
        return self.price * self.quantity

In [ ]:
# Create an instance and assign attributes
item1 = Item()
item1.price = 100
item1.quantity = 5

# Call the method
print(item1.calculate_total_price())  # Output: 500

500

Adding function to the class dynamically:

- In Python, you can add more functions or methods to a class after it has been defined. However, this is not the usual practice for defining a class and is typically discouraged as it can make the code harder to read and maintain.

- This approach can be helpful in some specific scenarios, like monkey patching or dynamically extending classes in a flexible framework, but it is not ideal for regular development. It is better to include all methods within the class definition for clarity.

```python
def calculate_total_price(self):
    return self.price * self.quantity

Item.calculate_total_price = calculate_total_price

print(item1.calculate_total_price())
```

**Benefits of Methods**
- Encapsulate functionality specific to a class.
- Improve code readability and reuse.
Reduce duplication by centralizing logic.
- Methods allow dynamic behavior based on object attributes.
- Using methods ensures code is scalable and maintainable by grouping data (attributes) with logic (methods).

- Methods that take `self` as the first parameter are called instance methods.
- These methods operate on an instance of the class and can access and modify instance-level attributes.

### `__init__` **method**

- The `__init__` method is a special(Magic) method in Python, also called the constructor.

- It is automatically invoked when an object is instantiated (created) from a class.

- Purpose:

  - To initialize the attributes of the object.
  - To define mandatory or default values for attributes.

  ```python
  class ClassName:
    def __init__(self, parameters):
        # Initialize attributes
        self.attribute = value

  ```

In [ ]:
class Item:
    def __init__(self, name, price, quantity = 0): #default values for parameters to handle cases where a value is not passed during object creation.
        self.name = name
        self.price = price
        self.quantity = quantity

In [ ]:
# Create an instance of the class
item1 = Item("Phone", 100, 5)

# Access attributes
print(item1.name)
print(item1.price)
print(item1.quantity)
item2 = Item("Laptop",100, 3)
print(item2.name)
print(item2.price)
print(item2.quantity)
item3 = Item("Tablet",1000)
print(item3.name)
print(item3.price)
print(item3.quantity)

Phone
100
5
Laptop
100
3
Tablet
1000
0

- Eliminates the need for assigning attributes manually after object creation.
- Ensures that all required attributes are initialized when an object is created.
- Provides flexibility to set default values for certain attributes.

In [ ]:
item2.has_numpad = False #Dynamic Assigning of attribute to objects

print(item1.__dict__) # accessing all the attributes of item1 in dictionary format
print(item2.__dict__)

{'name': 'Phone', 'price': 100, 'quantity': 5}
{'name': 'Laptop', 'price': 100, 'quantity': 3, 'has_numpad': False}

In [ ]:
# Dynamic assignment within the __init__ method
class Item:
    def __init__(self, name, price, quantity=0):
        self.name = name
        self.price = price
        self.quantity = quantity
        self.total_price = price * quantity


item1 = Item("Phone", 100, 5)
print(item1.total_price)  # Output: 500

500

**Validation Inside** `__init__`

- Data validation can be performed within the constructor to ensure attributes meet specific criteria.
- This can done using `assert` keyword.

In [ ]:
class Item:
    def __init__(self, name, price, quantity):
        assert price >= 0, f"Price {price} is not greater than or equal to zero!"
        assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
        self.name = name
        self.price = price
        self.quantity = quantity

    def calculate_total_price(self):
        return self.price * self.quantity

This is a method of extending the class methods dynamically.**DON't RUN! JUST READ**.
```python
original_init = Item.__init__

# Define the new __init__ method with validations
def new_init(self, name, price, quantity):
    # Add assertions to check for valid inputs
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    
    # Call the original __init__ to initialize the object
    original_init(self, name, price, quantity)

# Assign the new __init__ method to the class
Item.__init__ = new_init
```

In [ ]:
# Test the class
try:
    item1 = Item("Phone", 100, -12)  # This will trigger the assertion
except AssertionError as e:
    print(e)

try:
    item1 = Item("Phone", -100, 12)  # This will also trigger the assertion
except AssertionError as e:
    print(e)

Quantity -12 is not greater than or equal to zero!
Price -100 is not greater than or equal to zero!

In [ ]:
item1 = Item("Phone",100,5)
item2 = Item("Laptop", 1000, 3)
print(f'Instance:\nname:{item1.name}, price:{item1.price}, Quantity:{item1.quantity}, Total Price:{item1.calculate_total_price()}')
print(f'Instance:\nname:{item2.name}, price:{item2.price}, Quantity:{item2.quantity}, Total Price:{item2.calculate_total_price()}')

Instance:
name:Phone, price:100, Quantity:5, Total Price:500
Instance:
name:Laptop, price:1000, Quantity:3, Total Price:3000

### **Class and Instance Attributes**
Python supports two types of attributes:
- Instance Attributes: Specific to each object (unique per instance).
- Class Attributes: Shared across all objects of the same class.

In [ ]:
class Item:
  pay_rate = 0.8 # Global attribute accesible by all instances.
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name # Instance Attribute
    self.price = price # Instance Attribute
    self.quantity = quantity # Instance Attribute

  def calculate_total_price(self):
        return self.price * self.quantity

  def apply_discount(self):
    self.price  = self.price * self.pay_rate

item1 = Item("Phone", 100, 5)
item2 = Item("Laptop", 1000, 3)
print(item2.calculate_total_price())
print(item1.calculate_total_price())

print(Item.pay_rate)
print(item1.pay_rate)
print(item2.pay_rate)

print(Item.__dict__) # accessing all the attributes at the class level
print(item1.__dict__) # accessing all the attributes at the instance level

3000
500
0.8
0.8
0.8
{'__module__': '__main__', 'pay_rate': 0.8, '__init__': <function Item.__init__ at 0x79280e7491b0>, 'calculate_total_price': <function Item.calculate_total_price at 0x79280e748790>, 'apply_discount': <function Item.apply_discount at 0x79280e7497e0>, '__dict__': <attribute '__dict__' of 'Item' objects>, '__weakref__': <attribute '__weakref__' of 'Item' objects>, '__doc__': None}
{'name': 'Phone', 'price': 100, 'quantity': 5}

- Python prioritizes instance attributes over class attributes. If an attribute is not found at the instance level, Python checks the class level.
- Class attributes provide a way to manage global values applicable to all instances, such as a discount rate or configuration settings.
- Since no `pay_rate` attribute is set for instances (neither in the `__init__` nor dynamically) `pay_rate` will not appear in their `__dict__`. They still access the `pay_rate` via the class attribute.

In [ ]:
# Modify the class attribute for one instance
item1.pay_rate = 0.9  # Overrides for item1 only
print(item1.pay_rate)
print(item2.pay_rate)

0.9
0.8

In [ ]:
# Modify class attribute for class level
Item.pay_rate = 0.7
print(item1.pay_rate)
print(item2.pay_rate)
Item.pay_rate = 0.8 # Resetting the value

0.7
0.7

- Use instance attributes for data specific to an object.
- Use class attributes for shared data, like constants or configuration values.
- Avoid modifying class attributes dynamically unless necessary, as it may lead to unexpected behavior.

How it can be used in this Store Management System

In [ ]:
class Item:
  pay_rate = 0.8 # Global attribute accesible by all instances. Not unique to one instance
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price # Attribute that will not change until the
    # discount is applied. It will make sure the MRP is not lost
    # while applying various discounts over period of time

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    # self.sell_price  = self.price * Item.pay_rate # This only allows the class level attribute and not the instance level attribute. For a common discount
    self.sell_price = self.price * self.pay_rate # This applies the instance level attribute

item1 = Item("Phone",1000,1)
item2 = Item("Laptop",100000,1)
item1.pay_rate = 0.7
item1.apply_discount()
item2.apply_discount()
print(item1.sell_price)
print(item2.sell_price)

700.0
80000.0

### **Magic Methods**

- Magic methods are special methods in Python that start and end with double underscores (__).
- They are also known as dunder methods.
- These methods allow developers to define how objects behave for common operations (e.g., addition, string representation, initialization).

In [6]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate


item1 = Item("Phone", 100, 1)
item2 = Item("Laptop", 1000, 3)
item3 = Item("Cable", 10, 5)
item4 = Item("Mouse", 50, 5)
item5 = Item("Keyboard", 75, 5)

In [7]:
print(item1)
print(Item.all)

<__main__.Item object at 0x7d1d192c91d0>
[<__main__.Item object at 0x7d1d192c91d0>, <__main__.Item object at 0x7d1d192c9050>, <__main__.Item object at 0x7d1d4c0a4e10>, <__main__.Item object at 0x7d1d192c8790>, <__main__.Item object at 0x7d1d192c9950>]

`__repr__` **Method:**
Defines a developer-friendly string representation of the object.
This is primarily used for debugging and logging.

In [9]:
def __repr__(self): # This will be called
    return f"Item('{self.name}', {self.price}, {self.quantity}, {self.sell_price}, {self.pay_rate})"

Item.__repr__ = __repr__

In [10]:
print(item1)
print(Item.all)

Item('Phone', 100, 1, 100, 0.8)
[Item('Phone', 100, 1, 100, 0.8), Item('Laptop', 1000, 3, 1000, 0.8), Item('Cable', 10, 5, 10, 0.8), Item('Mouse', 50, 5, 50, 0.8), Item('Keyboard', 75, 5, 75, 0.8)]

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### **Working with CSV**

CSV (Comma-Separated Values) files are a simple and efficient way to store structured data in a tabular format.

- Instead of hardcoding object data in the code, data can be stored in a CSV file.
- This approach improves scalability and separation of concerns:
  - Data is stored externally (in the CSV file).
  - Logic is implemented in the Python code to read and process the data.

In [34]:
import csv

# Open the CSV file
with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
    reader = csv.DictReader(f)  # Read as dictionaries
    items = list(reader)  # Convert to a list of dictionaries

# Print the data
for item in items:
    print(item)

{'name': 'Phone', 'price': '100', 'quantity': '1'}
{'name': 'Laptop', 'price': '1000', 'quantity': '3'}
{'name': 'Cable', 'price': '10', 'quantity': '5'}
{'name': 'Mouse', 'price': '50', 'quantity': '5'}
{'name': 'Keyboard', 'price': '75', 'quantity': '5'}

Now, the goal is to create instances of a class based on the data read from the CSV file.

So, in order to do that, we have to create a class method to read and instantiate objects dynamically. Class method as it will work for the whole class and not for each instance.

#### Class Vs. Static Methods

`@classmethod`:
- Methods that operate on the class rather than individual instances.
-Defined using the @classmethod decorator.
- The first parameter is cls, representing the class itself.

Now add the instance data to CSV to update the it for new items added to stock.

In [55]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.name, "price": self.price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'Item({temp})\n'
###################FOCUS HERE###################################################
  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            name = item.get('name'),
            price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )
#######################################################################################

Item.instantiate_from_CSV()
print(Item.all)
item1.__dict__

[{'name': 'Phone', 'price': 100.0, 'quantity': 1, 'sell_price': 100.0, 'pay_rate': 0.8}
, {'name': 'Laptop', 'price': 1000.0, 'quantity': 3, 'sell_price': 1000.0, 'pay_rate': 0.8}
, {'name': 'Cable', 'price': 10.0, 'quantity': 5, 'sell_price': 10.0, 'pay_rate': 0.8}
, {'name': 'Mouse', 'price': 50.0, 'quantity': 5, 'sell_price': 50.0, 'pay_rate': 0.8}
, {'name': 'Keyboard', 'price': 75.0, 'quantity': 5, 'sell_price': 75.0, 'pay_rate': 0.8}
]

{'name': 'Phone', 'price': 100, 'quantity': 1, 'sell_price': 100}


`@staticmethods`:
- Methods that do not operate on the instance or the class.
- Defined using the @staticmethod decorator.
- Do not take self or cls as parameters.

In [109]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.name, "price": self.price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'Item({temp})\n'

  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            name = item.get('name'),
            price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )
################FOCUS HERE##############################
  @staticmethod
  def is_integer(num):
      # Check if the number is an integer or a float with no decimal part
      if isinstance(num, float):
          return num.is_integer()
      return isinstance(num, int)
#####################################################
# Use the static method
print(Item.is_integer(5))      # Output: True
print(Item.is_integer(5.0))    # Output: True
print(Item.is_integer(5.5))    # Output: False

True
True
False

Static methods behave like regular functions but are logically grouped within a class.

#####**Practice**

In [97]:
import csv

class Item:
    pay_rate = 0.8
    all = []

    def __init__(self, name: str, price: float, quantity=0):
        # Basic validations
        assert price >= 0, f"Price {price} is not greater than or equal to zero!"
        assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"

        # Assign attributes
        self.name = name
        self.price = price
        self.quantity = quantity
        self.sell_price = self.price

        # Add the new item to the overall "basket"
        Item.all.append(self)

    def calculate_total_price(self):
        """Calculate total price of item(s) in basket."""
        return self.price * self.quantity

    def apply_discount(self):
        """Apply pay_rate discount to the sell_price."""
        self.sell_price = self.price * self.pay_rate

    def __repr__(self):
        """
        Convenient representation for debugging:
        Shows name, price, quantity, sell_price, and pay_rate.
        """
        temp = {
            "name": self.name,
            "price": self.price,
            "quantity": self.quantity,
            "sell_price": self.sell_price,
            "pay_rate": self.pay_rate
        }
        return f'{temp}\n'

    @classmethod
    def instantiate_from_CSV(cls):
        """Reads items from a CSV file and creates Item instances."""
        with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
            reader = csv.DictReader(f)
            for row in reader:
                Item(
                    name=row.get('name'),
                    price=float(row.get('price')),
                    quantity=int(row.get('quantity'))
                )

    def check_in_csv(self):
        """
        Checks if the item (by name) is already in the CSV.
        Returns True if found, False otherwise.
        """
        with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
            reader = csv.reader(f)
            # skip header if needed: next(reader, None)
            for row in reader:
                # row is a list like ['name', 'price', 'quantity']
                if row and row[0] == self.name:
                    return True
            return False

    def add_to_csv(self):
        """
        1. If the item is not in the CSV, it appends a new line.
        2. If the item exists, it updates the existing record:
           - overwrites the price
           - adds the new quantity to the existing quantity
        """
        if not self.check_in_csv():
            # Not found in CSV, so append
            with open('/content/drive/MyDrive/Python/items.csv', 'a', newline='') as f:
                writer = csv.DictWriter(f, fieldnames=['name', 'price', 'quantity'])
                # If CSV was empty and no header, you could do writer.writeheader() once,
                # but typically the file is assumed to have a header at creation.
                writer.writerow({
                    'name': self.name,
                    'price': str(self.price),
                    'quantity': str(self.quantity)
                })
        else:
            # Update existing record
            with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
                reader = csv.DictReader(f)
                items = list(reader)

            for item in items:
                if item['name'] == self.name:
                    item['price'] = str(self.price)
                    item['quantity'] = str(int(item['quantity']) + self.quantity)
                    break

            with open('/content/drive/MyDrive/Python/items.csv', 'w', newline='') as f:
                writer = csv.DictWriter(f, fieldnames=['name', 'price', 'quantity'])
                writer.writeheader()
                writer.writerows(items)

    @classmethod
    def empty_basket(cls):
        """Clears all items from the in-memory basket."""
        cls.all = []
        print("Basket Emptied!")

    def remove_item_from_csv(self):
        """
        Subtracts the item's `quantity` from the CSV record.
        If total drops to 0, removes the entire entry.
        Raises ValueError if removal would produce a negative quantity.
        """
        with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
            reader = csv.DictReader(f)
            items = list(reader)

        for item in items:
            if item['name'] == self.name:
                new_quantity = int(item['quantity']) - self.quantity
                if new_quantity < 0:
                    raise ValueError("Quantity cannot be negative")
                elif new_quantity == 0:
                    # Remove entire entry if quantity hits 0
                    items.remove(item)
                else:
                    item['quantity'] = str(new_quantity)
                break

        with open('/content/drive/MyDrive/Python/items.csv', 'w', newline='') as f:
            writer = csv.DictWriter(f, fieldnames=['name', 'price', 'quantity'])
            writer.writeheader()
            writer.writerows(items)

    @classmethod
    def update_csv(cls):
        """
        Writes all in-memory items to the CSV
        (adding or updating existing entries).
        Then clears the in-memory basket.
        """
        for item in cls.all:
            item.add_to_csv()
        cls.empty_basket()

    @classmethod
    def print_csv(cls):
        """Prints each row from the CSV for quick inspection."""
        with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
            reader = csv.DictReader(f)
            for row in reader:
                print(row)


1. **`remove_item_from_csv()`**:
   - Decreases an item's quantity in the CSV file.
   - Deletes the item from the file if the resulting quantity is 0.
   - Raises a `ValueError` if the quantity would become negative.

2. **`empty_basket()`**:
   - Clears all in-memory items stored in the `Item.all` list.
   - Does not affect the CSV file directly.

3. **`update_csv()`**:
   - Writes all in-memory items (`Item.all`) to the CSV.
   - Updates existing items or appends new ones.
   - Calls `empty_basket()` afterward, clearing the in-memory list.

4. **`check_in_csv()`**:
   - Checks if an item exists in the CSV by its name.
   - Returns `True` if found, `False` otherwise.

5. **`add_to_csv()`**:
   - Adds a new item or updates an existing one in the CSV.
   - Uses `check_in_csv()` to determine whether to append or update.

Relationships:
- **`update_csv()`** calls `add_to_csv()` and then clears the basket.
- **`remove_item_from_csv()`** modifies item quantities, potentially removing items entirely.

Run the code in sequence as the logic is a bit flawed just to explain how to work with CSV in different functions

In [98]:
print(Item.all)

[]

In [99]:
Item.print_csv()

{'name': 'Phone', 'price': '100', 'quantity': '1'}
{'name': 'Laptop', 'price': '1000', 'quantity': '3'}
{'name': 'Cable', 'price': '10', 'quantity': '5'}
{'name': 'Mouse', 'price': '50', 'quantity': '5'}
{'name': 'Keyboard', 'price': '75', 'quantity': '5'}

In [100]:
item1 = Item("Phone", 100, 1)
item2 = Item("Laptop", 1000, 3)
item3 = Item("CPU", 10000, 3)

In [101]:
Item.update_csv()
Item.instantiate_from_CSV()
print(Item.all)

# In order to retain original data
item1.remove_item_from_csv()
item2.remove_item_from_csv()
item3.remove_item_from_csv()

Basket Emptied!
[{'name': 'Phone', 'price': 100.0, 'quantity': 2, 'sell_price': 100.0, 'pay_rate': 0.8}
, {'name': 'Laptop', 'price': 1000.0, 'quantity': 6, 'sell_price': 1000.0, 'pay_rate': 0.8}
, {'name': 'Cable', 'price': 10.0, 'quantity': 5, 'sell_price': 10.0, 'pay_rate': 0.8}
, {'name': 'Mouse', 'price': 50.0, 'quantity': 5, 'sell_price': 50.0, 'pay_rate': 0.8}
, {'name': 'Keyboard', 'price': 75.0, 'quantity': 5, 'sell_price': 75.0, 'pay_rate': 0.8}
, {'name': 'CPU', 'price': 10000.0, 'quantity': 3, 'sell_price': 10000.0, 'pay_rate': 0.8}
]

In [105]:
Item.print_csv()

{'name': 'Phone', 'price': '100', 'quantity': '1'}
{'name': 'Laptop', 'price': '1000', 'quantity': '3'}
{'name': 'Cable', 'price': '10', 'quantity': '5'}
{'name': 'Mouse', 'price': '50', 'quantity': '5'}
{'name': 'Keyboard', 'price': '75', 'quantity': '5'}

In [104]:
Item.empty_basket()

Basket Emptied!

In [106]:
import csv

class Item:
    pay_rate = 0.8
    all = []

    def __init__(self, name: str, price: float, quantity=0):
        # Basic validations
        assert price >= 0, f"Price {price} is not greater than or equal to zero!"
        assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"

        # Assign attributes
        self.name = name
        self.price = price
        self.quantity = quantity
        self.sell_price = self.price

        # Add the new item to the overall "basket"
        Item.all.append(self)

    def calculate_total_price(self):
        """Calculate total price of item(s) in basket."""
        return self.price * self.quantity

    def apply_discount(self):
        """Apply pay_rate discount to the sell_price."""
        self.sell_price = self.price * self.pay_rate

    def __repr__(self):
        """
        Convenient representation for debugging:
        Shows name, price, quantity, sell_price, and pay_rate.
        """
        temp = {
            "name": self.name,
            "price": self.price,
            "quantity": self.quantity,
            "sell_price": self.sell_price,
            "pay_rate": self.pay_rate
        }
        return f'{temp}\n'

    @classmethod
    def instantiate_from_CSV(cls):
        """Reads items from a CSV file and creates Item instances."""
        with open('/content/drive/MyDrive/Python/items.csv', 'r', newline='') as f:
            reader = csv.DictReader(f)
            for row in reader:
                Item(
                    name=row.get('name'),
                    price=float(row.get('price')),
                    quantity=int(row.get('quantity'))
                )

### **Inheritance**

Inheritance is an object-oriented programming (OOP) concept where one class (child or derived class) inherits attributes and methods from another class (parent or base class).

- Promotes code reuse by sharing functionality between classes.
-Establishes a hierarchical relationship between classes.

In this example lets say we have some broken phones that are being added. So we need to identify these phones seperatley and manage them specially.

So let's say we make a similar class named `Phones` with same attributes, functions and then add some more.
This is alright method but we'll need to add all the objects again in the `phone` class.

So instead we can use the property of Inheritance.

`super()`: In Python, the built-in super() function is used to give you access to methods (and properties) in a superclass (or parent class).

```python
class Parent:
    def __init__(self, value):
        self.value = value

class Child(Parent):
    def __init__(self, value, extra):
        # Call the Parent's __init__ first
        super().__init__(value)
        self.extra = extra
```

In [7]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.name, "price": self.price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'Item({temp})\n'

  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            name = item.get('name'),
            price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )

  @staticmethod
  def is_integer(num):
      # Check if the number is an integer or a float with no decimal part
      if isinstance(num, float):
          return num.is_integer()
      return isinstance(num, int)

class Phone(Item):
  def __init__(self, name: str, price: float, quantity = 0, broken_phones = 0):
    super().__init__(name,price,quantity)
    assert broken_phones >= 0, f"Broken Phones cannot be negative"
    self.broken_phones = broken_phones

phone1 = Phone("jscPhonev10", 500, 5, 1)
print(phone1.calculate_total_price())
print(phone1.broken_phones)
phone2 = Phone("jscPhonev20", 700, 5, 1)
print(phone2.calculate_total_price())
print(phone2.broken_phones)

2500
1
3500
1

In [8]:
print(Phone.all)

[Item({'name': 'jscPhonev10', 'price': 500, 'quantity': 5, 'sell_price': 500, 'pay_rate': 0.8})
, Item({'name': 'jscPhonev20', 'price': 700, 'quantity': 5, 'sell_price': 700, 'pay_rate': 0.8})
]

Since this prints Item as the `__repr__` belongs to Item class and it's hardcorded to print Item. So let's change that to printing the Class from where the method is called even if from a child class. As all the attiributes and methods of the parent class are inherited from the child class

In [12]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.name = name
    self.price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)

  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.name, "price": self.price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'{self.__class__.__name__}({temp})\n'

  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            name = item.get('name'),
            price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )

  @staticmethod
  def is_integer(num):
      # Check if the number is an integer or a float with no decimal part
      if isinstance(num, float):
          return num.is_integer()
      return isinstance(num, int)

class Phone(Item):
  def __init__(self, name: str, price: float, quantity = 0, broken_phones = 0):
    super().__init__(name,price,quantity) # Because of this the Phone class has access to all the methods and attributes of the Item class.
    assert broken_phones >= 0, f"Broken Phones cannot be negative"
    self.broken_phones = broken_phones

phone1 = Phone("jscPhonev10", 500, 5, 1)
phone2 = Phone("jscPhonev20", 700, 5, 1)

print(phone1)
print(Phone.all)

Phone({'name': 'jscPhonev10', 'price': 500, 'quantity': 5, 'sell_price': 500, 'pay_rate': 0.8})

[Phone({'name': 'jscPhonev10', 'price': 500, 'quantity': 5, 'sell_price': 500, 'pay_rate': 0.8})
, Phone({'name': 'jscPhonev20', 'price': 700, 'quantity': 5, 'sell_price': 700, 'pay_rate': 0.8})
]

Moving forward we'll work with main.py file only and the classes file would be different and would be imported as a module.

In [12]:
import os

os.getcwd()

'/content'

In [13]:
os.chdir('/content/drive/MyDrive/Python')

In [14]:
os.getcwd()

'/content/drive/MyDrive/Python'

In [15]:
for dirpath,dirname,filenames in os.walk(os.getcwd()):
  print("Current Path:",dirpath)
  print("Directories:",dirname)
  print("Files:",filenames)
  print()

Current Path: /content/drive/MyDrive/Python
Directories: ['.ipynb_checkpoints', '__pycache__']
Files: ['naman.py', 'main.py', 'myfile1.txt', 'myfile.txt', 'myfile2.txt', 'myfile3.txt', 'Python Notebook.ipynb', 'items.gsheet', 'items.csv', 'Item.py', 'Phone.py']

Current Path: /content/drive/MyDrive/Python/.ipynb_checkpoints
Directories: []
Files: []

Current Path: /content/drive/MyDrive/Python/__pycache__
Directories: []
Files: ['Item.cpython-311.pyc', 'Phone.cpython-311.pyc']

As you can see I have created an `Item.py` and `Phone.py` in the my directory

In [16]:
#This notebook cell will act as main.py as we are running all the code here
from Item import Item
from Phone import Phone
print("Correctly imported")

Correctly imported

### **Encapsulation**

Encapsulation is the bundling of data (attributes) and methods (functions) within a class, restricting direct access to some components and ensuring controlled interaction.

- Protects data from being accessed or modified directly.
- Provides controlled mechanisms (methods) to interact with the internal state of an object.
- Enforces abstraction by hiding implementation details.

#### **Access Modifiers in Python**
Python uses a naming convention with underscores to indicate access levels for attributes and methods:

##### **Public:**
Accessible from anywhere (inside or outside of class).
- Syntax - No underscore (`attribute`).

```python
class Item:
    def __init__(self, name, price):
        self.name = name  # Public attribute
        self.price = price  # Public attribute

# Create an instance
item = Item("Phone", 500)

# Access and modify public attributes
print(item.name)  # Output: Phone
item.price = 600
print(item.price)  # Output: 600

```

So bascially it's what we have been using so far. Now let's add a little protection to our attributes.

##### **Protected:**
Accessible within the class and its subclasses. But are still accessible outside the class (with a convention-based warning). **IT'S NOT ADVISED**
- Single underscore (`_attribute`).

```python
class Item:
    def __init__(self, name, price):
        self._price = price  # Protected attribute

# Create an instance
item = Item("Laptop", 1000)

# Accessing a protected attribute (not recommended)
print(item._price)  # Output: 1000
```

##### **Private:**
Accessible only within the class.
- Double underscore (`__attribute`).

In [15]:
class Item:
    def __init__(self, name, price):
        self.__price = price  # Private attribute

    def get_price(self):  # Public method to access private attribute
        return self.__price

# Create an instance
item = Item("Tablet", 300)

# Attempting direct access (raises an AttributeError)
try:
  print(item.__price)  # This will fail
except AttributeError as e:
  print('AttributreError:',e)

# Access using public method
print(item.get_price())

AttributreError: 'Item' object has no attribute '__price'
300

##### Getter Methods
- Getters: Provide read-only access to private or protected attributes.

In [33]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.__name = name
    self.__price = price
    self.quantity = quantity
    self.sell_price = self.price

    Item.all.append(self)
########################FOUCUS HERE #########################################
  @property # provides an elegant way to define getters as well as setters as allows attribute variable name to be called to get values
  def name(self):
    return self.__name

  @property
  def price(self):
    return self.__price
######################################################################################
  def calculate_total_price(self):
    return self.price * self.quantity

  def apply_discount(self):
    self.sell_price = self.price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.name, "price": self.price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'{self.__class__.__name__}({temp})\n'

  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            name = item.get('name'),
            price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )

  @staticmethod
  def is_integer(num):
      # Check if the number is an integer or a float with no decimal part
      if isinstance(num, float):
          return num.is_integer()
      return isinstance(num, int)



class Phone(Item):
  def __init__(self, name: str, price: float, quantity = 0, broken_phones = 0):
    super().__init__(name,price,quantity) # Because of this the Phone class has access to all the methods and attributes of the Item class.
    assert broken_phones >= 0, f"Broken Phones cannot be negative"
    self.broken_phones = broken_phones

  def get_name(self):
    return self.__name

phone1 = Phone("jscPhonev10", 500, 5, 1)
phone2 = Phone("jscPhonev20", 700, 5, 1)

try:
  print(phone1.__name)
except:
  print("Attribute: __name is private")

#this will call the getter method with the @property so not so inconvinient. Otherwise had to call another public function from item class to get value.
print(phone1.name)
print(phone1.price)

#this will raise AttributeError as name is a private attribute in the Item class and won't change it's value
try:
  phone1.name = "New Name"
except:
  print("Attribute: __name is private and a setter method is not there")

#try accessing private attribute from the child class
try:
  print(phone1.get_name())
except Exception as e:
  print(e)

Attribute: __name is private
jscPhonev10
500
Attribute: __name is private and a setter method is not there
'Phone' object has no attribute '_Phone__name'

##### Setter Methods
- Setters: Allow controlled modification of attributes.

In [10]:
class Item:
  pay_rate = 0.8
  all = []
  def __init__(self, name: str, price: float, quantity = 0):
    assert price >= 0, f"Price {price} is not greater than or equal to zero!"
    assert quantity >= 0, f"Quantity {quantity} is not greater than or equal to zero!"
    self.__name = name
    self.__price = price
    self.quantity = quantity
    self.sell_price = self.__price

    Item.all.append(self)

  @property # provides an elegant way to define getters as well as setters as allows attribute variable name to be called to get values
  def name(self):
    return self.__name

  @property
  def price(self):
    return self.__price
########################FOUCUS HERE #########################################
  @name.setter
  def name(self,name):
    if len(name) > 8:
      raise Exception(f"Name is {len(name)- 8} charaters longer")
    elif str(name).isnumeric():
      raise Exception(f"Name cannot be numeric")
    else:
      self.__name = name
  @price.setter
  def price(self,price):
    if isinstance(price,(str,list,dict)):
      raise Exception(f"Price cannot contain alphbets")
    elif price < 0:
      raise Exception(f"Price cannot be negative")
    else:
      self.__price = price
######################################################################################
  def calculate_total_price(self):
    return self.__price * self.quantity

  def apply_discount(self):
    self.sell_price = self.__price * self.pay_rate

  def __repr__(self): # This will be called
    temp = {"name": self.__name, "price": self.__price, "quantity": self.quantity, "sell_price": self.sell_price, "pay_rate": self.pay_rate}
    return f'{self.__class__.__name__}({temp})\n'

  @classmethod
  def instantiate_from_CSV(cls):
    with open('/content/drive/MyDrive/Python/items.csv', 'r') as f:
      reader = csv.DictReader(f)
      for item in reader:
        Item(
            __name = item.get('name'),
            __price = float(item.get('price')),
            quantity = int(item.get('quantity'))
        )

  @staticmethod
  def is_integer(num):
      # Check if the number is an integer or a float with no decimal part
      if isinstance(num, float):
          return num.is_integer()
      return isinstance(num, int)



class Phone(Item):
  def __init__(self, name: str, price: float, quantity = 0, broken_phones = 0):
    super().__init__(name,price,quantity) # Because of this the Phone class has access to all the methods and attributes of the Item class.
    assert broken_phones >= 0, f"Broken Phones cannot be negative"
    self.broken_phones = broken_phones

  def get_name(self):
    return self.__name

phone1 = Phone("jscPhonev10", 500, 5, 1)
phone2 = Phone("jscPhonev20", 700, 5, 1)

# Valid name update
phone1.name = "NewName"
print(phone1.name)  # Output: NewName

# Invalid name update
try:
    phone1.name = "VeryLongName"
except Exception as e:
    print(e)  # Output: Name is 4 characters longer

# Invalid price update
try:
    phone2.price = "InvalidPrice"
except Exception as e:
    print(e)  # Output: Price cannot contain alphabets or non-numeric data

print(phone2.price)

NewName
Name is 4 charaters longer
Price cannot contain alphbets
700

Updating these to the Item.py

## **Itertools**